﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MVC Sample Program</h2>
    <p class="lead">Templates Web Application from Natalia Levkevitch</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Instructions</h2>
        <ul>
            <li>Navigate to 'Templates' </li>
            <li>Select a template from drop down list: total 3</li>
            <li>Fill up the fields</li>
            <li>Click Save. The sytem will redirect to the list automatically </li>
            <li>Navigate to templates if need abother entry</li>
            <li>Saved Information located in Employees, Addresses and Family info</li>
        </ul>
    </div>
</div>