﻿@{
    ViewBag.Title = "Templates";
}
<h2>@ViewBag.Title.</h2>

<div>
    <label>Select a Template</label>
    <select id="TemplatesList" onchange="toggleDIvDisplay(this.value)">
        <option value="1" selected="selected">-- Please, select a template -- </option>
        <option value="2">Add Employee's Basic Information</option>
        <option value="3">Add Employee's Address</option>
        <option value="4">Add Employee's family information </option>
    </select>
</div>
<div id="basicinfo" style="display:none;">
    @{
        Html.RenderPartial("_AddEmployeeBasicInfo", (object)@ViewBag.Employee);
    }
</div>
<div id="address" style="display:none;">
    @{
        Html.RenderPartial("_AddEmployeeAddress", (object)@ViewBag.Address);
    }
</div>
<div id="familyinfo" style="display:none;">
    @{
        Html.RenderPartial("_AddEmployeeFamilyInfo", (object)@ViewBag.Family);
    }
</div>
<script>
    function toggleDIvDisplay(e) {
        if (e == '1') {
            $('#basicinfo').hide();
            $('#address').hide();
            $('#familyinfo').hide();
        }
        if (e == '2') {
            $('#basicinfo').show();
            $('#address').hide();
            $('#familyinfo').hide();
        }
        if (e == '3') {
            $('#basicinfo').hide();
            $('#address').show();
            $('#familyinfo').hide();
        }
        if (e == '4') {
            $('#basicinfo').hide();
            $('#address').hide();
            $('#familyinfo').show();
        }
    }
    $(document).ready(function () {
        $('#basicinfo').hide();
        $('#address').hide();
        $('#familyinfo').hide();
    });
</script>